html, body {
    width: 99.7%;
    height: 99.7%;
    padding: 0;
    margin: 0;
}

body{
    border: 5px solid red;
}

.outer-main-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid green;
    /* flex-direction: ; */
}

.navbar{
    border: 2px solid red;
    /* flex: 1; */
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}

.inside-navbar{
    border: 1px solid green;
    height: 50%;
    display: flex;
    margin-top: 18px;
}

.navbar-1{
    margin-left: 20px;
    width: 200px;
    border-radius: 8px
}

.navbar-2{
    /* margin-left: 20px; */
    width: 600px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 100px;
    
}

.navbar-3{
    margin-right: 20px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    right: 10px;
}

.bodybar{
    border: 2px solid red;
    height: 1150px;
    display: flex;
}

.bodybar-left{
    flex: 1;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
}

.bodybar-left-child{
    border: 1px solid blue;
}

.bodybar-left-child-1{
    height: 50px;
    display: flex;
    align-items: center;
}

.body-left-child-1{
    height: 70%;
    border: 1px solid yellowgreen;
    width: 80px;
    margin-left: 20px;
    border-radius: 18px;
}

.bodybar-left-child-2{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.body-left-child-2{
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid yellowgreen;
    height: 300px;
    display: flex;
}

.body-left-child-2-1{
    flex: 1;
    border: 1px solid pink;
    border-radius: 8px;
    margin-right: 5px;
}

.body-left-child-2-2{
    flex: 1;
    border: 1px solid pink;
    position: relative;
    
}

.body-left-child-2-2-child{
    border: 1px solid green;
    margin-left: 15px;
    margin-top: 10px;
}

.body-left-child-2-2-child-1{
    width: 120px;
    height: 20px;
}

.body-left-child-2-2-child-2{
    width: 190px;
    height: 30px;
}

.body-left-child-2-2-child-3{
    width: 120px;
    height: 20px;
}

.body-left-child-2-2-child-4{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
}

.bodybar-right{
    flex: 1;
    border: 2px solid green;
    position: relative;
}

.right-block-5{
    border: 2px solid blue;
    position: absolute;
    bottom: 0px;
    right: 150px;
    width: 20px;
    height: 30px;
    border-radius: 10px;
}

.right-block-4{
    border: 2px solid blue;
    position: absolute;
    bottom: 80px;
    left: 250px;
    width: 20px;
    height: 30px;
    border-radius: 10px;
}

.right-block-3{
    border: 2px solid blue;
    position: absolute;
    top: 250px;
    right: 300px;
    width: 20px;
    height: 30px;
    border-radius: 10px;
}

.right-block-2{
    border: 2px solid blue;
    position: absolute;
    top: 170px;
    left: 300px;
    width: 20px;
    height: 30px;
    border-radius: 10px;
}

.right-block-1{
    border: 2px solid blue;
    position: absolute;
    top: 50px;
    left: 80px;
    width: 60px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.right-block-1-1{
    flex: 1;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.right-block-1-2{
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
}